                <h4><strong>Bahasa</strong></h4>
                <p style="text-align:justify">Tesis dapat ditulis dalam bahasa Indonesia dan bahasa Inggris (bagi mahasiswa yang mengikuti program double degree dan mahasiswa dari luar negeri). Dalam penulisannya diupayakan tidak menggunakan kata ganti orang pertama tunggal seperti aku, saya, daku, ku dan kata ganti orang pertama jamak seperti kami dan kita.</p>
                <br>

                <h4><strong>Margin</strong></h4>
                <p style="text-align:justify">Semua konten harus ditulis dalam daerah di dalam margin. Template tesis menggunakan pengaturan margin yang benar. Jika anda tidak menggunakan template, margin diatur dengan ketentuan berikut:</p>
                <table>
                    <tr>
                        <td width="50%">
                            <ol type="a">
                                <li>&emsp;Jarak dari tepi atas kertas</li>
                                <li>&emsp;Jarak dari tepi bawah kertas</li>
                                <li>&emsp;Jarak dari tepi kiri kertas</li>
                                <li>&emsp;Jarak dari tepi kanan kertas</li>
                                <li>&emsp;Jarak dari tepi kiri kertas</li>
                                <li>&emsp;Jarak dari tepi kanan kertas</li>
                            </ol>
                        </td>
                        <td width="40%">
                            <ul type="none">
                                <li>: &nbsp;3,5 cm</li>
                                <li>: &nbsp;3 cm</li>
                                <li>: &nbsp;4 cm(halaman ganjil)</li>
                                <li>: &nbsp;3 cm(halaman ganjil)</li>
                                <li>: &nbsp;3 cm(halaman genap)</li>
                                <li>: &nbsp;4 cm(halaman genap)</li>
                            </ul>
                        </td>
                    </tr>
                </table>
                <p style="text-align:justify">Anda dapat melakukan pengaturan margin hanya pada halaman ganjil saja, sedangkan untuk halaman genap mengikuti setting pada MS Word dengan mengatur margin pada <i>page setup</i> dengan memilih <i>mirror margins</i>.</p>
                <br>

                <h4><strong>Font</strong></h4>
                <p style="text-align:justify">Huruf yang digunakan untuk teks adalah jenis Times New Roman ukuran 12 pt dengan jarak antar baris 1,5 spasi. Penulisan dilakukan pada dua sisi halaman kertas dengan sisi depan halaman selalu bernomor halaman ganjil dan sisi belakang bernomor genap.</p>
                <br>

                <h4><strong>Penomoran halaman</strong></h4>
                <p style="text-align:justify">Penomoran halaman dilakukan sebagai berikut:</p>
                <ol type="a">
                    <li>Semua bagian sebelum teks (Bab 1), dimulai dari lembar pengesahan, diberi nomor halaman dengan angka Romawi kecil yang diletakkan di bagian bawah-tengah halaman (i, ii, ..., dst).</li>
                    <li>Bagian teks (Bab 1, dan seterusnya termasuk daftar pustaka dan lampiran) diberi nomor halaman dengan angka <i>Arabic</i> yang diletakkan di bagian bawah-tengah halaman.</li>
                </ol>
                <br>

                <h4><strong>Bab, sub-bab dan sub-sub bab</strong></h4>
                <p style="text-align:justify">Tulisan BAB 1, BAB 2, ..., dan seterusnya dimulai dari batas margin atas dengan ukuran huruf 14 pt. Judul bab dimulai 1,5 spasi (1 kali ketukan enter) dari tulisan BAB 1, BAB 2, ..., dst.</p>
                <p style="text-align:justify">Tulisan bab dan judul bab ditulis dengan <strong>huruf kapital</strong> untuk semua huruf dengan ukuran huruf 14 pt. Angka untuk nomor bab ditulis dengan angka <i>Arabic</i> (1, 2, 3, ... dst).</p>
                <p style="text-align:justify">Kalimat awal (jika tidak dimulai dengan sub-bab) atau sub-bab awal dimulai 3 spasi (2 kali ketukan enter) dari judul bab dan dimulai dari margin kiri (untuk judul sub-bab) atau masuk <strong>1 tab (1,5 cm)</strong> untuk awal kalimat.</p>
                <p style="text-align:justify">Judul sub-bab ditulis dengan <strong>title case</strong> (hanya huruf pertama setiap kata yang menggunakan huruf kapital, yang lainnya huruf kecil/<i>lower case</i> dan semua kata sambung harus memakai huruf kecil/<i>lower case</i>).</p>
                <p style="text-align:justify">Kalimat awal pada sub-bab dimulai 1,5 spasi setelah judul sub-bab, masuk 1 tab. Judul sub-bab berikutnya dimulai <i>3 spasi dari baris terakhir</i> dari sub-bab sebelumnya.</p>
                <p style="text-align:justify">Permulaan bab selalu ditulis pada halaman baru dan dimulai pada halaman dengan nomor ganjil. Apabila suatu bab berakhir pada halaman dengan nomor ganjil, maka halaman genap berikutnya dibiarkan kosong.</p>
                <p style="text-align:justify">Kalimat awal pada suatu paragraf ditulis masuk 1 (satu) tab. Antar paragraf tidak perlu diberi jarak.</p>
                <br>

                <h4><strong>Captions: Tabel, Gambar dan Persamaan</strong></h4>
                <p style="text-align:justify">Semua gambar dan tabel harus jelas/tidak kabur/buram. Ukuran huruf pada gambar dan tabel harus dapat dibaca oleh mata normal dengan mudah. Gambar dan tabel diletakkan di tengah halaman (<i>center alignment</i>).</p>
                <p style="text-align:justify">Nomor dan judul gambar ditulis di <strong>sisi kiri di bawah</strong> gambar. Nomor gambar disesuaikan dengan letak gambar tersebut di dalam bab. Sumber dari gambar dicantumkan langsung pada bagian belakang judul tersebut. Judul gambar ditulis dengan cara <strong>title case</strong> kecuali untuk kata sambung dan kata depan dengan jarak spasi 1. Sisi paling luar gambar tidak boleh melampaui batas margin kiri dan kanan.</p>
                <p style="text-align:justify">Contoh:</p>
                <div align="center">
                    <img src="{{url('/img/gambar-format-1.PNG')}}" alt="alt" height="40%" width="50%">
                </div>
                <p style="text-align:justify">Gambar 4.5 Posisi Pendulum Menggunakan Metode Kontrol <i>Energy-based</i> dan Kontrol Fuzzy</p>
                <p style="text-align:justify">Nomor dan judul tabel ditulis di <strong>sisi kiri di atas</strong> tabel. Nomor tabel disesuaikan dengan letak tabel tersebut di dalam bab. Judul tabel ditulis dengan cara <strong><i>title case</i></strong> kecuali untuk kata sambung dan kata depan dengan jarak spasi 1. Tabel dibuat dengan jarak spasi 1. Sisi paling luar tabel tidak boleh melampaui batas margin kiri dan kanan. Format landscape menyesuaikan dengan pedoman ini.</p>
                <p style="text-align:justify">Contoh:</p>
                Tabel 3.1 Parameter Sistem Pendulum Kereta [1]
                <br><br>
                <div align="center">
                    <table border="1" width="600">
                        <tr>
                            <th style="text-align:center">Parameter</th>
                            <th style="text-align:center">Simbol</th>
                            <th style="text-align:center">Nilai</th>
                        </tr>
                        <tr>
                            <td>Massa kereta</td>
                            <td style="text-align:center"><i>mC</i></td>
                            <td>1,12 kg</td>
                        </tr>
                        <tr>
                            <td>Massa pendulum</td>
                            <td style="text-align:center"><i>mp</i></td>
                            <td>0,12 kg</td>
                        </tr>
                        <tr>
                            <td>Momen inersia pendulum</td>
                            <td style="text-align:center"><i>J</i></td>
                            <td>0,0136 kg. m2</td>
                        </tr>
                        <tr>
                            <td>Jarak sumbu rotasi ke pusat massa sistem</td>
                            <td style="text-align:center"><i>l</i></td>
                            <td>0,4 m</td>
                        </tr>
                    </table>
                </div>
                <br>
                <p style="text-align:justify">Tulisan tabel dan gambar pada kalimat yang merujuk suatu tabel atau gambar harus diawali dengan huruf besar.</p>
                <p style="text-align:justify">Contoh: Sesuai dengan Tabel 3.1 dan Gambar 4.5 ………</p>
                <p style="text-align:justify">Judul tabel atau batas gambar bagian atas dimulai 3 spasi dari baris terakhir di atasnya. Kalimat tepat di bawah tabel atau judul gambar dimulai 3 spasi dari batas bawah tabel atau judul gambar. Antara judul tabel atau judul gambar dengan tabel atau gambar yang bersangkutan diberi jarak 1,5 spasi (satu ketukan enter).</p>
                <p style="text-align:justify">Semua rumus ditulis dengan menggunakan <i>equation editor</i> (atau <i>math type</i>). Penulisan rumus dimulai pada batas kiri, rata dengan kalimat tepat di atasnya, dengan jarak 1,5 (satu setengah) spasi dari kalimat di atas dan di bawahnya. Nomor rumus disesuaikan dengan nomor bab letak rumus tersebut dan ditulis di ujung kanan baris tersebut (<i>right alignment</i>). Ukuran huruf dan symbol pada rumus sesuai dengan default Microsoft Equation 3.0, yaitu</p>
                <div align="center">
                    <table width="300" border="1">
                        <tr>
                            <th style="text-align:center"><strong>Jenis</strong></th>
                            <th style="text-align:center"><strong>Ukuran(pt)</strong></th>
                        </tr>
                        <tr>
                            <td>Full</td>
                            <td style="text-align:center">12</td>
                        </tr>
                        <tr>
                            <td>Subscript/Superscript</td>
                            <td style="text-align:center">7</td>
                        </tr>
                        <tr>
                            <td>Sub-Subscript/Superscript</td>
                            <td style="text-align:center">5</td>
                        </tr>
                        <tr>
                            <td>Symbol</td>
                            <td style="text-align:center">18</td>
                        </tr>
                        <tr>
                            <td>Sub-symbol</td>
                            <td style="text-align:center">12</td>
                        </tr>
                    </table>
                </div>
                <br>
                <p style="text-align:justify">Contoh:</p>
                <img src="{{url('/img/gambar-format-2.PNG')}}" alt="alt" height="10%" width="30%">
                <p style="text-align:justify">dengan:</p>
                <div>
                    <table width="400">
                        <tr>
                            <td width="10px"><i>&#8854;</i></td>
                            <td width="10px">:</td>
                            <td width="120px">sudut batang pendulum terhadap sumbu vertikal</td>
                        </tr>
                        <tr>
                            <td><i>J</i></td>
                            <td>:</td>
                            <td>momen inersia pendulum</td>
                        </tr>
                        <tr>
                            <td><i>F</i></td>
                            <td>:</td>
                            <td>gaya kontrol sejajar dengan rel diberikan pada kereta</td>
                        </tr>
                        <tr>
                            <td><i>T<sub>c</sub></i></td>
                            <td>:</td>
                            <td>gaya gesek kereta terhadap rel</td>
                        </tr>
                        <tr>
                            <td><i>l</i></td>
                            <td>:</td>
                            <td>jarak sumbu rotasi ke pusat massa sistem pendulum-kereta</td>
                        </tr>
                        <tr>
                            <td><i>V</i></td>
                            <td>:</td>
                            <td>gaya vertikal</td>
                        </tr>
                        <tr>
                            <td><i>D<sub>p</sub></i></td>
                            <td>:</td>
                            <td>momen gesek akibat gerak putar pendulum</td>
                        </tr>
                    </table>
                </div>
                <br>
                <p style="text-align:justify"><strong>Tidak boleh memperbesar tampilan rumus dengan men-drag pojok rumus yang sedang
dibuat.</strong></p>
                <br>

                <h4><strong>Referensi</strong></h4>
                <p style="text-align:justify">Aturan tentang penulisan referensi dalam teks dan daftar pustaka dapat mengikuti <i>Harvard style</i> sesuai pedoman dari PPs ITS atau menggunakan <font color="blue"><i>IEEE style</i></font>  yang banyak digunakan di Program Studi Magister Teknik Elektro.</p>