<p style="text-align:justify">Regulasi yang diuraikan di Teras ELITS diatur oleh Pascasarjana ITS dan Program Studi Magister Teknik Elektro ITS.</p>
<!-- <br> -->

<h4><strong>(1) Proposal Tesis</strong></h4>

<h4><strong><i>Persyaratan Pengajuan Ujian Proposal Tesis</i></strong></h4>
<p style="text-align:justify">Proposal tesis dapat dibuat setelah mahasiswa menyelesaikan 25 % beban sks dengan IP (indek prestasi) pada akhir semester secara kumulatif di atas 2,5 tanpa nilai D dan E.</p>
<br>

<h4><strong><i>Registrasi Ujian Proposal Tesis</i></strong></h4>
<ul>
    <li>Mengisi form registrasi di <strong><i>Teras ELITS</i></strong></li>
    <li>Mengunggah file proposal tesis dalam versi pdf</li>
    <li>Menyerahkan hardcopy proposal tesis ke admin tesis di sekretariat Program Pascasarjana Jurusan Teknik Elektro.</li>
</ul>
<br>

<h4><strong><i>Perbaikan Proposal Tesis</i></strong></h4>
<p style="text-align:justify">Masa perbaikan proposal adalah <strong>30 (tiga puluh) hari kalender</strong> sejak tanggal pelaksanaan ujian. Apabila sampai batas waktu tersebut mahasiswa masih belum menyerahkan proposal yang dimaksud, maka proposal tesis dinyatakan gugur dan mahasiswa yang bersangkutan harus melaksanakan ulang ujian proposal tesis.</p>
<p style="text-align:justify">Semua usul perbaikan proposal tesis pada waktu ujian harus diakomodasikan ke dalam proposal tesis dan perbaikan ini harus dikonsultasikan kepada para dosen penguji dan dosen pembimbing. Dosen pembimbing dan semua dosen penguji membubuhkan tandatangan pada <font color="blue">lembar pengesahan</font>.</p>
<p style="text-align:justify"><strong>Proposal Tesis hasil revisi (versi final) yang telah disetujui dosen pembimbing dan dosen penguji diunggah ke Teras ELITS.</strong></p>
<br>

<h4><strong>Lain-lain</strong></h4>
<p style="text-align:justify">Isi proposal tesis dan pedoman lainnya dapat anda baca di Pedoman Penyusunan Tesis Pascasarjana ITS tahun 2014.</p>
<br><br>

<h4><strong>(2) Tesis</strong></h4>
<h4><strong><i>Persyaratan Pengajuan Ujian Tesis</i></strong></h4>
<p style="text-align:justify">Masa penyelesaian tesis adalah <strong>satu semester atau satu tahun</strong> (hari kalender) sejak tanggal persetujuan proposal tesis. Dalam jangka waktu maksimum satu tahun, tesis harus sudah diuji di depan tim penguji. Apabila batas waktu ini terlampaui maka mahasiswa yang bersangkutan wajib mengganti judul tesisnya dan mengulangi <strong>prosedur pengajuan tesis.</strong></p>

<h4><strong><i>Registrasi Ujian Tesis</i></strong></h4>
<ul>
    <li>Mengisi form registrasi di <strong><i>Teras ELITS</i></strong></li>
    <li>Mengunggah file tesis, form bimbingan dan bukti publikasi dalam versi pdf</li>
    <li>Menyerahkan hardcopy draft tesis ke admin tesis di sekretariat Program Pascasarjana Jurusan Teknik Elektro ITS.</li>
</ul>
<br>

<h4><strong><i>Perbaikan Tesis</i></strong></h4>
<p style="text-align:justify">Masa perbaikan tesis adalah <strong>3 (tiga) bulan</strong> sejak tanggal pelaksanaan ujan tesis. Apabila sampai batas waktu tersebut mahasiswa masih belum menyerahkan tesis yang dimaksud, maka tesis dinyatakan batal dan mahasiswa yang bersangkutan harus menyusun ulang tesis dengan judul baru.</p>
<p style="text-align:justify"><strong>Tesis hasil revisi (versi final) yang telah disetujui dosen pembimbing dan dosen penguji diunggah ke Teras ELITS.</strong></p>
<br>
<br>
<h4><strong>Form</strong></h4>
<p style="text-align:justify">Sebagai bagian dari proses pengajuan ujian tesis, anda harus menyerahkan formulir berikut:</p>
<ul type="none">
    <strong>
        <li>Form Bimbingan</li>
        <li>Form Publikasi</li>
    </strong>
</ul>
<p style="text-align:justify">Untuk mengunggah form kelengkapan registrasi ke Teras ELITS, lakukan langkah berikut:</p>
<ul>
    <li>Isi setiap form yang diperlukan</li>
    <li>Scan/save as setiap form yang sudah diisi dan ditandatangani dalam versi pdf</li>
    <li>Unggah form versi pdf ke Teras ELITS</li>
</ul>
<br><br>

<h4><strong>Registration</strong></h4>
<p style="text-align:justify">Login dan registrasi di Teras ELITS</p>
<p style="text-align:justify"><strong>Langkah-langkah:</strong></p>
<ol>
    <li>Sebelum anda mendaftar untuk mengikuti ujian tesis dalam Teras ELITS, pastikan bahwa Judul Proposal/Tesis Anda telah disetujui oleh dosen pembimbing. Peringatan: setelah anda memasukkan informasi ke field (<font color="red">misalnya judul tesis, abstrak, dll</font>) dalam Teras dan disimpan, anda tidak dapat membuat perubahan pada data yang telah dimasukkan.</li>
    <li>Pilih login, gunakan username dan password integra.its.ac.id</li>
    <li>Pada <i>field</i> yang diberikan isilah informasi yang diminta seperti:</li>
    <li>Bla bla bla ……</li>
</ol>
<br>

<h4><strong>File Tesis Versi Final</strong></h4>
<p style="text-align:justify">Sebelum anda mengunggah file tesis versi final pastikan bahwa dokumen tesis anda sudah sesuai dengan format yang benar. Lakukan pengecekan format menggunakan <font color="blue">formatting checklist</font>.</p>
<br>

<h4><strong>Formatting Checklist</strong></h4>
<div>
    <table border="1" width="800" cellspacing="40">
        <tr style="color:white" bgcolor="grey">
            <th style="width:5%; text-align:center" height="30">No.</th>
            <th style="width:75%; text-align:center">Pertanyaan</th>
            <th style="width:10%; text-align:center">ya</th>
            <th style="width:10%; text-align:center">tidak</th>
        </tr>
        <tr>
            <td style="text-align:center">1</td>
            <td>Apakah setiap halaman tesis bernomor benar, dari halaman sebelum teks sampai daftar pustaka?</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="text-align:center">2</td>
            <td>Apakah judul tesis pada halaman judul, lembar pengesahan, dan abstrak identik?</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="text-align:center">3</td>
            <td>Apakah margin yang anda gunakan sesuai dengan persyaratan margin yang ditetapkan?</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="text-align:center">4</td>
            <td>Apakah halaman pengesahan menyertakan tanda tangan asli dari dosen pembimbing dan dosen penguji seperti yang terdaftar di Teras ELITS?</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="text-align:center">5</td>
            <td>Apakah semua tabel, gambar, persamaan dan lainnya dapat dibaca dengan mudah? Apakah sudah diberi label dan penomoran yang benar?</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="text-align:center">6</td>
            <td>Apakah nama dan NRP anda dan nama pembimbing persis sama pada halaman judul, lembar pengesahan, dan abstrak?</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="text-align:center">7</td>
            <td>Apakah anda memiliki satu salinan lepas (hardcopy) dari halaman judul, lembar pengesahan (dengan tanda tangan asli), dan abstrak untuk diserahkan ke PPs TE ITS setelah Anda mengunggah file tesis?</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="text-align:center">8</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
<br>
<p style="text-align:justify">Jika jawaban untuk semua pertanyaan dalam checklist adalah "Ya," anda dapat mengunggah file tesis versi final ke Teras ELITS dan selanjutnya akan diproses sebagai salah satu persyaratan kelulusan.</p>