<p style="text-align:justify">Template tesis dalam file Microsoft Word (MS Word) dapat digunakan untuk memudahkan anda
dalam menulis buku tesis sesuai dengan format yang digunakan oleh Pascasarjana ITS dan Teknik
Elektro. File template tesis didistribusikan sebagai file .docx dan .doc.</p>
<p style="text-align:justify">Mengapa anda perlu menggunakan template?</p>
<p style="text-align:justify">Template tesis dirancang untuk meminimalkan waktu yang dihabiskan untuk mengatur format
dokumen tesis Anda. Hal ini juga membantu menghindari masalah ketika dokumen Anda dikonversi
ke PDF.</p>
<p style="text-align:justify">Keuntungan menggunakan template tesis:</p>
<ul>
	<li>Template meliputi gaya <i>formatting</i> semua bagian dari dokumen (judul, paragraf, kutipan,
	keterangan gambar, tabel, dll)</li>
	<li>Penomoran headings, gambar, and tabel dapat dilakukan secara otomatis</li>
	<li>Daftar Isi, Daftar Gambar, Daftar Tabel dan Daftar Pustaka dapat dibuat dan diperbarui secara
	otomatis</li>
	<li>Jika timbul masalah dengan pengunaan template, template ini dapat dengan mudah
	diperbaiki dengan bantuan Admin Tesis PPs Teknik Elektro.</li>
</ul>