<p>Teras merupakan sistem registrasi tesis dan disertasi yang digunakan di Program Pascasarjana Teknik Elektro ITS, efektif mulai Juni 2016.</p>
<p>Dalam rangka untuk mematuhi Peraturan Akademik ITS maupun Sistem Penjaminan Mutu Internal Pascasarjana (SPMI PPs) ITS, tesis harus:</p>
<ol>
	<li>mengikuti peraturan dan kebijakan dari PPs ITS dan PPs Teknik Elektro ITS</li>
	<li>sesuai dengan format standar dari PPs ITS dan PPs Teknik Elektro ITS</li>
</ol>
<p>Sebagai syarat untuk mengikuti ujian proposal tesis atau ujian tesis, anda diharuskan untuk mengunggah file proposal tesis atau tesis dengan format yang benar serta file tambahan yang dibutuhkan untuk memenuhi sebagian persyaratan untuk ujian. Setelah anda mengikuti ujian, final proposal tesis atau tesis harus diunggah kembali sebagai syarat untuk melanjutkan penelitian tesis atau sebagai syarat untuk kelulusan.</p>
<p>Akurasi konten tesis adalah tanggung jawab penulis (mahasiswa) dan dosen pembimbing.</p>